*{
    box-sizing: border-box;
    background: black;
    color: white;
    scroll-behavior: smooth;
}
.navbar{
   margin-top: 10px;
   opacity: 50%;
   display: flex;
   /* justify-content: end; */
   float: right;   
}

.homepage>div{
    /* font-family: 'Rubik Dirt', cursive; */
    font-size: 3rem; 
    height: auto;
    text-align: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    padding: 100px;
    /* font-family: 'Passions Conflict', cursive; */

}
.navbar>a{
    text-decoration: none;
    
    text-align: center;
    padding: 10px 10px;
    border: 1px solid white;
    margin: 5px;
}
.navbar>a:hover{
    box-shadow: 5px 10px lightblue;
}
.navbar>a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
@media screen and (max-width:900px) {
    .navbar{
        flex-direction: column;
    }
    .navbar>a{
        width:50%;
    }
    .showcase{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .showcase2{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
}
#main{
   width:70vw;
   font-family: 'Rubik Dirt', cursive;
   font-size: 2rem;
}

.homepage {
    width: 100%;
    height: 90vh;
    background-image: url("images/BG1.jpeg");
    background-size: cover; 

    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.heading
{
    text-align: center;
    text-decoration: underline;
    font-family: 'Rubik Dirt', cursive;
    opacity: 50%;
    font-size: 4rem;
}
.showcase,.showcase2{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    
}
.column{
    flex:50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Stalinist One', cursive;
}
.column>p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
.column>a{
    text-decoration: underline;
    color: bisque;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}